.about-page {
  width: 100%;
  min-width: 1050px;
  height: 100%;

  .header {
    width: 100%;

    .navbar {
      width: 100%;
      position: fixed;
      top: 0;
      z-index: 3;
      background: rgba(26, 26, 26, 1);
    }
  }

  .about-title {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    background: rgba(242, 242, 242, 1);


    p {
      font: {
        size: 24px;
        family: MicrosoftYaHei;
        weight: 400;
      }
      color: rgba(51, 51, 51, 1);
    }
  }

  .about-content {
    width: 100%;
    margin-bottom: 100px;

    .about-left,
    .about-right {
      width: 25%;
      height: 0;
      position: absolute;
    }

    .about-left {
      left: 0;
      //background-color: blue;
      background-color: #FFF;
    }

    .about-right {
      right: 0;
      //background-color: red;
      background-color: #FFF;
    }

    .about-main {
      margin: 60px 25%;
      height: 100%;

      p {
        font: {
          size: 16px;
          family: MicrosoftYaHei;
          weight: 400;
        }
        text-indent: 2em;
        color: rgba(51, 51, 51, 1);
        line-height: 32px;
      }
    }
  }

  .footer {
    width: 100%;

    .line {
      width: 100%;
      height: 2px;
      margin: 0;
      padding: 0;
      background: rgba(255, 85, 0, 1);
    }
  }
}
