.actived-el-breadcrumb__item {
  font-size: 24px !important;
  font-family: MicrosoftYaHei;
  color: rgba(102, 102, 102, 1) !important;
}

.index-page {
  width: 100%;
  min-width: 1050px;
  height: 100%;

  .header {
    width: 100%;

    .navbar {
      width: 100%;
      position: fixed;
      top: 0;
      z-index: 3;
    }

    .index-title {
      width: 100%;
      height: 80px;
      position: fixed;
      top: 60px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background: rgba(242, 242, 242, 1);
      z-index: 2;

      p {
        font: {
          size: 24px;
          family: MicrosoftYaHei;
          weight: 400;
        }

        margin-left: 7%;
        color: rgba(51, 51, 51, 1);
      }

      .el-breadcrumb {
        width: 100%;
        margin-left: 7%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;

        a {
          cursor: pointer;

          font: {
            size: 14px;
            family: MicrosoftYaHei;
            weight: 400;
          }

          color: rgba(153, 153, 153, 1);
        }
      }
    }
  }

  .container {
    width: 100%;

    .left,
    .right {
      width: 7%;
      height: 0;
      position: absolute;
    }

    .left {
      left: 0;
      //background-color: blue;
      background-color: #FFF;
    }

    .right {
      right: 0;
      //background-color: red;
      background-color: #FFF;
    }

    .main {
      margin: 164px 7%;
      height: 100%;

      .el-tabs__header {
        display: none !important;
      }

      .el-tags {
        width: 100%;
        height: 100%;
        z-index: 0;

        .items-row {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: center;
        }

        .items-paging {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 70px;

          .el-pagination {
            .el-pager li.active {
              color: rgba(255, 85, 51, 1);
            }
          }
        }
      }

      .items-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
      }

      .items-paging {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;

        .el-pagination {
          .el-pager li.active {
            color: rgba(255, 85, 51, 1);
          }
        }
      }
    }
  }

  .footer {
    width: 100%;

    .line {
      width: 100%;
      height: 2px;
      margin: 0;
      padding: 0;
      background: rgba(255, 85, 0, 1);
    }
  }
}
