.search-page {
  width: 100%;
  min-width: 1050px;
  height: 100%;

  .header {
    width: 100%;
  }

  .container {
    width: 100%;

    .left,
    .right {
      width: 7%;
      height: 0;
      position: absolute;
    }

    .left {
      left: 0;
      //background-color: blue;
      background-color: #FFF;
    }

    .right {
      right: 0;
      //background-color: red;
      background-color: #FFF;
    }

    .main {
      margin: 55px 7%;
      height: 100%;

      .search-title {
        width: 400px;
        margin-bottom: 20px;

        .search-icon {
          width: 30px;
          height: 10px;
          display: inline-block;
          margin-bottom: 15px;
          background: linear-gradient(30deg,
              rgba(255, 85, 51, 1) 0%,
              rgba(255, 108, 0, 1) 100%);
          border-radius: 5px;
        }

        .search-title-name {
          height: 30px;
          text-align: left !important;

          font: {
            size: 30px;
            family: MicrosoftYaHei;
            weight: 400;
          }

          color: rgba(51, 51, 51, 1);
          line-height: 42px;
        }
      }

      .search-item {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .footer {
    width: 100%;

    .line {
      width: 100%;
      height: 2px;
      margin: 0;
      padding: 0;
      background: rgba(255, 85, 0, 1);
    }
  }
}
