.play-moreWords {
  font-size: 20px;
}

.player-page {
  width: 100%;
  height: 100%;

  .header {
    width: 100%;

    .navbar {
      width: 100%;
      position: fixed;
      top: 0;
      z-index: 3;
    }

    .play-area {
      width: 100%;
      margin-top: 60px;
      background: rgba(26, 26, 26, 1);
      display: flex;
      flex-direction: column;
      align-items: center;

      .play-player {
        width: 85% !important;
        background: #000;

        .video-js .vjs-big-play-button {}
      }

      .play-info {
        width: 85%;
        height: 128px;

        .play-details {
          height: 100%;

          .play-title {
            font: {
              size: 30px;
              family: MicrosoftYaHei;
              weight: 400;
            }

            margin-top: 30px;
            color: rgba(255, 255, 255, 1);

            p {
              display: -webkit-box;
              min-width: 300px;
              text-overflow: ellipsis;
              -webkit-line-clamp: 1;
              white-space: nowrap;
              /*! autoprefixer: off */
              -webkit-box-orient: vertical;
              /* autoprefixer: on */
              overflow: hidden;
            }
          }

          .play-append {
            display: flex;
            justify-content: flex-start;

            p,
            span {
              font: {
                size: 16px;
                family: MicrosoftYaHei;
                weight: 400;
              }

              color: rgba(153, 153, 153, 1);
              line-height: 42px;
            }

            .play-share {
              margin-right: 40px;
              display: flex;
              justify-content: flex-start;
              align-items: center;

              a {
                img {
                  width: 22px;
                  height: 18px;
                  margin: 5px;
                  margin-top: 10px;
                }
              }
            }

            .play-amount {}
          }
        }

        .play-ad {
          height: 100%;
          margin-top: 14px;
          position: absolute;
          right: 0;
          z-index: 1;

          a {
            img {
              width: 480px;
              height: 100px;
            }
          }
        }
      }
    }
  }

  .container {
    width: 100%;

    .left,
    .right {
      width: 7%;
      height: 0;
      position: absolute;
    }

    .left {
      left: 0;
      //background-color: blue;
      background-color: #fff;
    }

    .right {
      right: 0;
      //background-color: red;
      background-color: #fff;
    }

    .main {
      margin: 35px 7%;
      height: 100%;

      .blank {
        width: 100%;
        height: 100%;
      }
    }
  }

  .footer {
    width: 100%;

    .line {
      width: 100%;
      height: 2px;
      margin: 0;
      padding: 0;
      background: rgba(255, 85, 0, 1);
    }
  }
}
